<div class="container-fluid">
  <div class="row mt-5">
    <div class="col"></div>
    <div class="col-4">
      <div class="card shadow mt-5">
        <div class="card-body">
          <form>
            <div class="mb-3">
              <H4 class="text-dark">bienvenue</H4>
            </div>
            <div class="mb-3">
              <p>un lien a été envoyé dans votre mail.verifier votre boite de reception</p>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col">
    </div>
  </div>
</div>
